.chat
  .chat__group-info
    .chat__group-info__left
      .chat__group-info__left__group
        = @group.name
      %ul.chat__group-info__left__member
        Member :
        - @group.users.each do |user|
          %li.chat__group-info__left__member__members
          = user.name
    = link_to edit_group_path(current_user), class: "chat__group-info__right" do
      Edit 



  .chat__list  
    = render @messages


  .chat__form
    = form_for [@group, @message] do |f|
      .chat__form__input
        = f.text_field :content, class: 'chat__form__input__type', placeholder: 'type a message'
        = f.label :image, class: 'chat__form__input__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'chat__form__input__image__file'
      = f.submit 'Send', class: 'chat__form__send'
